%section
  %h2 Demo
  
  
  %article
    %form#hshot
      %label{ for: "url" } url:
      %input{ name: "url", id: "url", type: "text" }
      %input{ type: "submit" }
      
    %img#spinner{ src: "/imgs/spinner.gif" }
    #error
      &nbsp;
    
    %div#img
      %img.himg{ src: @img }
    put the mouse cursor over the image
